<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>My Shop - Add new user</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!--external css-->
  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-fileupload/bootstrap-fileupload.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-daterangepicker/daterangepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-timepicker/compiled/timepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datetimepicker/datertimepicker.css}" />
  <!-- Custom styles for this template -->
  <link th:href="@{/css/style1.css}" rel="stylesheet">
  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
  
  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a th:href="@{/utilisateur/home}" class="logo"><b>My shop</b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <li th:if="${incomplete}" class="dropdown">
            <a th:if="${incomplete}>0" th:href="@{/utilisateur/incomplete}">
              <i class="fa fa-tasks"></i>
              <span class="badge bg-theme">[[${incomplete}]]</span>
              </a>
            
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a th:if="${incompleteSell}" data-toggle="" class="dropdown-toggle" th:href="@{/utilisateur/addSell}">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme04">[[${incompleteSell}]]</span>
              </a>
            
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a th:if="${activity}" data-toggle="" class="dropdown-toggle" th:href="@{/utilisateur/activity}">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">[[${activity}]]</span>
              </a>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" th:href="@{/login?logout}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a th:if="${usercon}" href="profile.html"><img th:src="@{'/image/'+${usercon.photo}}" class="img-circle" width="80"></a></p>
          <h5 th:if="${usercon}" class="centered" th:text="${usercon.nom}"></h5>
          <li class="mt">
            <a class="active" th:href="@{/utilisateur/home}">
              <i class="fa fa-home"></i>
              <span>Home</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-shopping-cart"></i>
              <span>SELL</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/utilisateur/sell}">List sell</a></li>
              <li><a th:href="@{/utilisateur/addSell}">Add sell</a></li>              
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>PRODUCTS</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/utilisateur/product}">List products</a></li>
              <li><a th:href="@{/utilisateur/addProd}">Add product</a></li>
              <li><a th:href="@{/utilisateur/category}">Category</a></li>
              <li><a th:href="@{/utilisateur/unite}">Unite</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-group"></i>
              <span>CLIENTS</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/utilisateur/client}">List client</a></li>
              <li><a th:href="@{/utilisateur/addCli}">Add client</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>ORDERS</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/utilisateur/commande}">List orders</a></li>
              <li><a th:href="@{/utilisateur/client}">Create order</a></li>
              <li><a th:href="@{/utilisateur/bill}">Bills</a></li>
              <li><a th:href="@{/utilisateur/pay}">Pays</a></li>
            </ul>
          </li>
          <li th:if="${usercon.login}=='barry997o'" class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-user"></i>
              <span>USERS</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/admin/user}">List users</a></li>
              <li><a th:href="@{/admin/addUser}">Add user</a></li>
              <li><a th:href="@{/admin/role}">Role</a></li>
              <li><a th:href="@{/admin/urole}">User role</a></li>
            </ul>
          </li>
          <li>
            <a #href="google_maps.html">
              <i class="fa fa-map-marker"></i>
              <span>Google Maps </span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-th"></i>
              <span>MORE</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/utilisateur/report}">Report</a></li>
              <li><a th:href="@{/utilisateur/movement}">Movements</a></li>
              <li><a th:href="@{/utilisateur/activity}">Activity</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Add new user</h3> 
        	<!-- /row -->
	        <div class="row mt">
	          <div class="col-lg-12">            
	            <div class="form-panel">
	              <div class="form">
	                <form class="cmxform form-horizontal style-form" id="signupForm" th:object="${user}" method="post" th:action="@{/admin/saveUser}" enctype="multipart/form-data">
	                <div class="col-lg-7 col-md-7 col-sm-12 col-xm-12">
	                  <div class="form-group ">
	                    <label for="firstname" class="control-label col-lg-2">Full name</label>
	                    <div class="col-lg-10">
	                      <input class=" form-control" id="firstname" name="nom" type="text" />
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label for="lastname" class="control-label col-lg-2">Phone number</label>
	                    <div class="col-lg-10">
	                      <input class=" form-control" id="lastname" name="phone" type="text" />
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label for="username" class="control-label col-lg-2">Username</label>
	                    <div class="col-lg-10">
	                      <input class="form-control " id="username" name="login" type="text" />
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label for="password" class="control-label col-lg-2">Password</label>
	                    <div class="col-lg-10">
	                      <input class="form-control " id="password" name="pass" type="password" />
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label for="confirm_password" class="control-label col-lg-2">Confirm Password</label>
	                    <div class="col-lg-10">
	                      <input class="form-control " id="confirm_password" name="confirm_password" type="password" />
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label for="email" class="control-label col-lg-2">Email</label>
	                    <div class="col-lg-10">
	                      <input class="form-control " id="email" name="email" type="email" />
	                    </div>
	                  </div>  
	                  </div>
	                  <div class="col-lg-4 col-md-4 col-sm-12 col-xm-12 col-lg-offset-1 col-md-offset-1">               
	                  <div class="form-group last">
	                  <label class="control-label col-md-12">Image Upload</label>
	                  <div class="col-md-12">
	                    <div class="fileupload fileupload-new" data-provides="fileupload">
	                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
	                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
	                      </div>
	                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
	                      <div>
	                        <span class="btn btn-theme02 btn-file">
	                          <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
	                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
	                        <input type="file" name="file" class="default" />
	                        </span>
	                        <a th:href="@{/admin/addUser}" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
	                      </div>
	                    </div>
	                    <span class="label label-info">NOTE!</span>
	                    <span>
	                      Attached image thumbnail is
	                      supported in Latest Firefox, Chrome, Opera,
	                      Safari and Internet Explorer 10 only
	                      </span>
	                  </div>
	                </div>
	                </div>
	                  <div class="form-group">
	                    <div class="col-lg-offset-2 col-lg-10">
	                      <button class="btn btn-theme" type="submit">Save</button>
	                      <button class="btn btn-theme04" type="reset">Cancel</button>
	                    </div>
	                  </div>
	                </form>
	              </div>
	            </div>
	            <!-- /form-panel -->
	          </div>
	          <!-- /col-lg-12 -->
	        </div>
	        <!-- /row -->       
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>MOUSTAPHA BARRY</strong>. All Rights Reserved
        </p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          Created with Dashio template, Spring and JEE by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
        <a th:href="@{/admin/addUser}" class="go-top">
          <i class="fa fa-angle-up"></i>
         </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
  <script class="include" type="text/javascript" th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
  <script th:src="@{/lib/jquery.scrollTo.min.js}"></script>
  <script th:src="@{/lib/jquery.nicescroll.js}" type="text/javascript"></script>
  <!--common script for all pages-->
  <script th:src="@{/lib/common-scripts.js}"></script>
  <!--script for this page-->
  <script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-fileupload/bootstrap-fileupload.js}"></script>
  <script type="text/javascript" src="@{/ lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/date.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/daterangepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-timepicker/js/bootstrap-timepicker.js}"></script>
  <script th:src="@{/lib/advanced-form-components.js}"></script>
  
</body>
</html>