<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>My shop - Invoice</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!--external css-->
  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-fileupload/bootstrap-fileupload.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-daterangepicker/daterangepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-timepicker/compiled/timepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datetimepicker/datertimepicker.css}" />
  <!-- Custom styles for this template -->
  <link th:href="@{/css/style1.css}" rel="stylesheet">
  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
  
  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body onload="format()">
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div th:replace="header"></div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div th:replace="sidebar"></div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="col-lg-12 mt">
        <div class="row">
        	<button id="print" class="btn btn-theme btb-md"><i class="fa fa-print"> Imprime la Facture</i></button>
        	<a th:if="${commande.status} == false" style="margin-left: 300px" th:href="@{/utilisateur/payBill(idFacture=${bill.idFacture})}">
        		<button id="btnpay" class="btn btn-theme9 btb-md"><i class="fa fa-money"> Payer la Facture</i></button>
        	</a>
        	<button id="print1" class="btn btn-default btb-md pull-right"><i class="fa fa-print"> Imprime le bon</i></button>
        </div>
          <div class="row content-panel page">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="invoice-body">
                <div class="pull-left">
                  <img th:src="@{'/image/WhatsApp Image 2021-06-13 at 6.59.16 PM.jpeg'}" width="200" ><br>
                  <strong>LAGUINEX</strong>
                  <address>
	                Kipé Centre-Emetteur République de Guinée<br>
	                Conakry
	                <br>
	                <abbr>Email :</abbr> laguinexgn2020@gmail.com<br>
	                <abbr>Téléphone :</abbr> (+224) 624-16-16-56 / 626-85-30-85
	                
	              </address>
                </div>
                <!-- /pull-left -->
                <div class="pull-right">
                  <h2 th:text="'PROFORMA : '+${bill.codeFac}"></h2>
                </div>
                <!-- /pull-right -->
                <div class="clearfix"></div>
                <br>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-8 pull-left">
                    <h4 th:text="${client.nom}"></h4>
                    <address>
	                  <strong th:text="${client.company}"></strong><br>
	                  <label th:text="${client.adress}+', '"></label>
	                  <label th:text="${client.city}"></label><br>
	                  <abbr title="Phone">Tél. : </abbr><label th:text="${client.phone}"></label>
	                </address>
                  </div>
                  <!-- /col-md-9 -->
                  <div class="col-lg-4 col-md-4">
                    <div class="pull-right">
                      <div class="pull-left">CODE COMMANDE : ... </div>
                      <div class="pull-right" th:text="${commande.codeCom}"></div>
                      <div class="clearfix"></div>
                    </div> <br> 
                    <div class="pull-right">
                      <!-- /col-md-3 -->
                      <div class="pull-left"> DU : ................ </div>
                      <div class="pull-right" th:text="${commande.dateCom}"></div>
                      <div class="clearfix"></div>
                    </div>
                    <!-- /row -->
                    <br>
                    <div class="well well-small green pull-right">
                      <div class="pull-left"> Total Due : GNF</div>
                      <div class="pull-right"> <label id="amountd" th:text="${commande.montantR}"></label> </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <!-- /invoice-body -->
                </div>
                <!-- /col-lg-10 -->
                <table class="table">
                  <thead>
                    <tr>
                      <th style="width:150px" class="text-center">QTE</th>
                      <th class="text-left">DESCRIPTION</th>
                      <th style="width:140px" class="text-right">PRIX UNITAIRE</th>
                      <th style="width:90px" class="text-right">TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="d:${details}">
                      <td th:text="${d.qteCom} + ' ' + ${d.product.unite.libelleUnit}"></td>
                      <td  th:text="${d.product.designation}"></td>
                      <td class="text-right"  th:text="'Le'+${d.prixUnit}"></td>
                      <td class="text-right"  th:text="'Le'+${d.qteCom} * ${d.prixUnit}"></td>
                    </tr>
                    <tr>
                      <td colspan="2" rowspan="4">
                        <h4>Terms and Conditions</h4>
                        <p>Thank you for your business. We do expect payment within 14 days, so please process this invoice within that time. There will be a 1.5% interest charge per month on late invoices.</p>
                        <td class="text-right"><strong>MTTC : GNF</strong></td>
                        <td id="amountt" class="text-right" th:text="${commande.montantT}"></td>
                    </tr>
                    <tr>
                      <td class="text-right no-border"><strong>Avance : GNF</strong></td>
                      <td id="amountp" class="text-right"  th:text="${commande.montantP}"></td>
                    </tr>
                    <tr>
                      <td class="text-right no-border"><strong>Total Due : GNF</strong></td>
                      <td id="amountr" class="text-right" th:text="${commande.montantR}"></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
              </div>
            </div>
          </div>
          <br>
          <div class="row content-panel page1">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="invoice-body">
                <div class="pull-left">
                  <img th:src="@{'/image/WhatsApp Image 2021-06-13 at 6.59.16 PM.jpeg'}" width="200" ><br>
                  <strong>LAGUINEX</strong>
                  <address>
	                Kipé Centre-Emetteur République de Guinée<br>
	                Conakry
	                <br>
	                <abbr title="Phone">Téléphone :</abbr> (+224) 624-16-16-56 / 626-85-30-85<br>
	                <abbr title="Phone">Email :</abbr> laguinexgn2020@gmail.com
	              </address>
                </div>
                <!-- /pull-left -->
                <div class="pull-right">
                  <h2>Bon de Commande</h2>
                </div>
                <!-- /pull-right -->
                <div class="clearfix"></div>
                <br>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-7 pull-left">
                    <h4 th:text="${client.nom}"></h4>
                    <address>
	                  <strong th:text="${client.company}"></strong><br>
	                  <label th:text="${client.adress}+', '"></label>
	                  <label th:text="${client.city}"></label><br>
	                  <abbr title="Phone">TELEPHONE : </abbr><label th:text="${client.phone}"></label>
	                </address>
                  </div>
                  <!-- /col-md-9 -->
                  <div class="col-md-4 pull-right">
                    <br>
                    <div>
                      <div class="pull-left"> ORDER CODE : </div>
                      <div class="pull-right" th:text="${commande.codeCom}"></div>
                      <div class="clearfix"></div>
                    </div>
                    <div>
                      <!-- /col-md-3 -->
                      <div class="pull-left"> OF : </div>
                      <div class="pull-right" th:text="${commande.dateCom}"></div>
                      <div class="clearfix"></div>
                    </div>
                    <!-- /row -->
                    <br>
                  </div>
                  <!-- /invoice-body -->
                </div>
                <!-- /col-lg-10 -->
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-left">DESIGNATION</th>
                      <th style="width:420px" class="text-left">DESCRIPTION</th>
                      <th style="width:120px" class="text-center">SIZE</th>
                      <th style="width:140px" class="text-center">QTE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="d:${details}">
                      <td th:text="${d.product.designation}"></td>
                      <td style="width:420px" class="text-left" th:text="${d.product.description}"></td>
                      <td class="text-center" th:text="${d.product.siz}"></td>
                      <td class="text-center" th:text="${d.qteCom}+' '+${d.product.unite.libelleUnit}"></td>
                    </tr>
                     <tr>
                      <td></td>
                      <td></td>
                      <td class="text-center no-border"><strong>Total</strong></td>
                      <td class="text-center"  th:text="${articles} + ' Articles'"></td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>      
              <!--/col-lg-12 mt -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div th:replace="footer"></div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
  <script class="include" type="text/javascript" th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
  <script th:src="@{/lib/jquery.scrollTo.min.js}"></script>
  <script th:src="@{/lib/jquery.nicescroll.js}" type="text/javascript"></script>
  <!--common script for all pages-->
  <script th:src="@{/lib/common-scripts.js}"></script>
  <!--script for this page-->
  <script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-fileupload/bootstrap-fileupload.js}"></script>
  <script type="text/javascript" src="@{/ lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/date.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/daterangepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-timepicker/js/bootstrap-timepicker.js}"></script>
  <script th:src="@{/lib/advanced-form-components.js}"></script>
  <script th:src="@{/css/printThis.js}"></script>
  <script type="text/javascript">
  $('#print').click(function(){
		$('.page').printThis({
			debug: false,
			importCSS: true,
			importStyle: false,
			printContainer: true,
			loadCSS: "",
			pageTitle: "PROFORMA",
	//		header: "<h1 style='text-align: center; padding-bottom: 25px;'>List of products</h1>",
			footer: "<p>.........................................................................................................................................................................................................................<br>Siége Social : Kipé Centre-Emetteur République de Guinée<br> N° Immatriculation : /RCCM/GN.TCC.2020.01449 <br> N° Compte SGBG : 1000029302681 / NIF : 921316014 <br> Email : laguinexgn2020@gmail.com ; Tél.: (+224) 624-16-16-56 / 626-85-30-85 </p>",
			removeInLine: false,
			printDelay: 333,
			formValues: true,
			canvas: false,
			base: false,
			doctypeString: '<!DOCTYPE html>',
			removeScripts: false,
			copyTagClasses: false				
		});
	})
	
	$('#print1').click(function(){
		$('.page1').printThis({
			debug: false,
			importCSS: true,
			importStyle: false,
			printContainer: true,
			loadCSS: "",
			pageTitle: "Order form",
	//		header: "<h1 style='text-align: center; padding-bottom: 25px;'>List of products</h1>",
			footer: "<p>.........................................................................................................................................................................................................................<br>Siége Social : Kipé Centre-Emetteur République de Guinée<br> N° Immatriculation : /RCCM/GN.TCC.2020.01449 <br> N° Compte SGBG : 1000029302681 / NIF : 921316014 <br> Email : laguinexgn2020@gmail.com ; Tél.: (+224) 624-16-16-56 / 626-85-30-85 </p>",
			removeInLine: false,
			printDelay: 333,
			formValues: true,
			canvas: false,
			base: false,
			doctypeString: '<!DOCTYPE html>',
			removeScripts: false,
			copyTagClasses: false				
		});
	})
	
	//         number's format                        //
	function format(){
	  const formater = new Intl.NumberFormat('en');	  
	  document.getElementById("amountd").innerHTML = formater.format(document.getElementById("amountd").innerHTML);
	  document.getElementById("amountt").innerHTML = formater.format(document.getElementById("amountt").innerHTML);
	  document.getElementById("amountp").innerHTML = formater.format(document.getElementById("amountp").innerHTML);
	  document.getElementById("amountr").innerHTML = formater.format(document.getElementById("amountr").innerHTML);
    }
  </script>	
</body>
</html>