<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>My shop - Report</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!--external css-->
  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-fileupload/bootstrap-fileupload.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-daterangepicker/daterangepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-timepicker/compiled/timepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datetimepicker/datertimepicker.css}" />
  <!-- Custom styles for this template -->
  <link th:href="@{/css/style1.css}" rel="stylesheet">
  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
  
  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body onload="format()">
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div th:replace="header"></div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div th:replace="sidebar"></div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Rapport sur les commandes : [[${date}]]</h3>
        <hr>
        <div class="row mt">
        	<div class="col-lg-12 col-md-12">
        		<div class="col-lg-3 col-md-3">
        			<form th:action="@{/utilisateur/orderDay}" class="form-horizontal style-form" method="post">
				        <div class="form-group" style="margin-right: 20px;">
				          <div class="col-md-12 col-lg-12">
				            <div data-date-viewmode="years" data-date-format="yyyy-mm-dd" data-date="" class="input-append date dpYears">
				              <input type="text" readonly="" name="date" value="" size="16" class="form-control">
				              <span class="input-group-btn add-on">
				                <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
				                </span>
				            </div>
				            <span class="help-block">Choisi une date</span>
				          </div>
				        </div>
			        </form>
        		</div>
        		<div class="col-lg-3 col-md-3">
        			<form th:action="@{/utilisateur/orderMonth}" class="form-horizontal style-form" method="post">
			           <div class="form-group" style="margin-left: 20px;">
			             <div class="col-md-12 col-lg-12">
			               <div data-date-minviewmode="months" data-date-viewmode="years" data-date-format="yyyy-mm-dd" data-date="" class="input-append date dpMonths">
			                 <input type="text" readonly="" name="date" value="" size="16" class="form-control">
			                 <span class="input-group-btn add-on">
			                   <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
			                 </span>
			               </div>
			               <span class="help-block">Selectione un mois</span>
			             </div>
			           </div>
			        </form>
        		</div>
        		<div class="col-lg-6 col-md-6">
        			<form th:action="@{/utilisateur/orderC}" class="form-horizontal style-form" method="post">
			          <div class="form-group" style="margin-left: 40px;">
			            <div class="col-md-8 col-lg-8">
			              <div class="input-group input-large" data-date="" data-date-format="yyyy-mm-dd">
			                <input type="text" readonly="readonly" name="date1" class="form-control dpd1">
			                <span class="input-group-addon">A</span>
			                <input type="text" readonly="readonly" class="form-control dpd2" name="date2">			                   
			              </div>
			              <span class="help-block">Choisi un interval de date</span>
			            </div>
			            <div class="col-lg-4 col-md-4">
			            	<button class="btn btn-theme" type="submit"><i class="fa fa-calendar"></i></button>
			            </div>
			          </div>
			          
			        </form>
        		</div>
        	</div>
        </div>
        <!-- row end -->
        <!-- DATE TIME PICKERS -->
        <div class="row">
        	<div class="col-lg-6 col-md-6">
        		<label style="font-weight: bold; font-size: 19px;">Commandes : </label>
        		<label>Montant Total : Le</label>
        		<label id=amounto>[[${amounto}]]</label>
        		<label> | Montant de Commandes : [[${orders}]]</label>
        	</div>
        	<div class="col-lg-6 col-md-6">
        		<label style="font-weight: bold; font-size: 19px;">Ventes : </label>
        		<label>Montant Total : Le</label>
        		<label id="amounts">[[${amounts}]]</label>
        		<label> | Montant de Ventes : [[${sells}]]</label>
        	</div>
        </div>
        <div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
	            <div class="adv-table">
	              <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="table1">
	                <thead>
	                  <tr>
	                    <th>CODE</th>
	                    <th>CLIENT</th>                    
	                    <th>DATE</th>
	                    <th class="hidden-phone">MONTANT</th>
	                    <th>RESTE DUE</th>
	                    <th class="hidden-phone" >ACTIONS</th>
	                  </tr>
	                </thead>
	                <tbody>
	                  <tr class="gradeX" th:each="c:${commandes}">
	                    <td th:text="${c.codeCom}"></td>
	                    <td th:text="${c.client.nom}"></td>
	                    <td th:text="${c.dateCom}"></td>          
	                    <td class="hidden-phone" th:text="${c.montantT}" ></td>
	                    <td style="font-weight: bold;" th:text="${c.montantR}"></td>
	                    <td>
	                      <a th:href="@{/utilisateur/detailOrder(idCom=${c.idCom})}"><button class="btn btn-primary btn-xs"><i class="fa fa-book">detail</i></button></a>
	                    </td>
	                  </tr>                  
	                </tbody>
	              </table>
	            </div>
          </div>
          <!-- sells list -->
          <div class="content-panel">
            <div class="adv-table">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="table2">
                <thead>
                  <tr>
                    <th>CODE</th>
                    <th style="display: none">CLIENT</th>                    
                    <th>DATE DE VENTE</th>
                    <th>MONTANT</th>
                    <th class="hidden-phone" >ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="gradeX" th:each="v:${ventes}">
                    <td th:text="${v.codeSell}"></td>
                    <td style="display: none;" th:text="${v.client}"></td>
                    <td th:text="${v.dateSell}"></td>          
                    <td th:text="${v.amount}" id="amount4"></td>
                    <td class="hidden-phone">
                     <a th:href="@{/utilisateur/detailSell(idSell=${v.idSell})}"><button 
                     class="btn btn-primary btn-xs"><i class="fa fa-book">Détail</i></button></a>
                    </td>
                  </tr>                  
                </tbody>
              </table>
            </div>
          </div>
            <!-- /form-panel -->
          <!-- detail order -->
          <div class="content-panel">
            <div class="adv-table">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="table2">
                <thead>
                  <tr th:each="p:${products}">
                    <th th:text="{p.designation}"></th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr class="gradeX" th:each="v:${ventes}">
                    <td></td>
                  </tr>                  
                </tbody>
              </table>
            </div>
          </div>
          <!-- /form-panel -->
          <!-- detail sell -->
          <div class="content-panel">
            <div class="adv-table">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="table2">
                <thead>
                  <tr th:each="p:${products}">
                    <th th:text="{p.designation}"></th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr class="gradeX" th:each="v:${ventes}">
                    <td></td>
                  </tr>                  
                </tbody>
              </table>
            </div>
          </div>
          <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
        <!-- row -->  
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div th:replace="footer"></div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
  <script class="include" type="text/javascript" th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
  <script th:src="@{/lib/jquery.scrollTo.min.js}"></script>
  <script th:src="@{/lib/jquery.nicescroll.js}" type="text/javascript"></script>
  <!--common script for all pages-->
  <script th:src="@{/lib/common-scripts.js}"></script>
  <!--script for this page-->
  <script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-fileupload/bootstrap-fileupload.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/date.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/daterangepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/lib/bootstrap-timepicker/js/bootstrap-timepicker.js}"></script>
  <script th:src="@{/lib/advanced-form-components.js}"></script>
  
</body>
<script type="text/javascript">
	function format(){
		const formater = new Intl.NumberFormat('en');
		
		var table1 = document.getElementById("table1");
		for(var k=1; k<table1.rows.length; k++){
			table1.rows[k].cells[3].innerHTML = formater.format(table1.rows[k].cells[3].innerHTML);
			table1.rows[k].cells[4].innerHTML = formater.format(table1.rows[k].cells[4].innerHTML);
		}

		var table2 = document.getElementById("table2");
		for(var i = 1; i < table2.rows.length; i++){
			table2.rows[i].cells[3].innerHTML = formater.format(table2.rows[i].cells[3].innerHTML);
		}
		
		document.getElementById("amounto").innerHTML = formater.format(document.getElementById("amounto").innerHTML);
		document.getElementById("amounts").innerHTML = formater.format(document.getElementById("amounts").innerHTML);
		
	}

</script>

</html>
