<div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a th:href="@{/utilisateur/home}" class="logo"><b>LAGUINEX</b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          <li th:if="${incomplete}" class="dropdown">
            <a th:if="${incomplete}>0" th:href="@{/utilisateur/incomplete}">
              <i class="fa fa-tasks"></i>
              <span class="badge bg-theme">[[${incomplete}]]</span>
              </a>
            
          </li>
          <!-- settings end -->
          <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
            <a th:if="${incompleteSell}" data-toggle="" class="dropdown-toggle" th:href="@{/utilisateur/addSell}">
              <i class="fa fa-envelope-o"></i>
              <span class="badge bg-theme04">[[${incompleteSell}]]</span>
              </a>
            
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a th:if="${activity}" data-toggle="" class="dropdown-toggle" th:href="@{/utilisateur/activity}">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">[[${activity}]]</span>
              </a>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" th:href="@{/login?logout}">Deconnexion</a></li>
        </ul>
      </div>