<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>My shop - users roles</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!--external css-->
  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
  <link th:href="@{/lib/advanced-datatable/css/demo_page.css}" rel="stylesheet" />
  <link th:href="@{/lib/advanced-datatable/css/demo_table.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/lib/advanced-datatable/css/DT_bootstrap.css}" />
  <!-- Custom styles for this template -->
  <link th:href="@{/css/style1.css}" rel="stylesheet">
  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div th:replace="header"></div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div th:replace="sidebar"></div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> ROLE DES UTILISATEURS</h3>
        <!-- New role -->
        <div class="col-md-6 col-sm-10 col-lg-6 mb">
           <!-- REVENUE PANEL -->
           <div class="panel pn">
             <div class="panel-header">
               <h1 style="text-align: center">Ajouter un role</h1>
             </div>
               <!-- Form add new role -->
               
                 <div class="col-lg-12">
		            
		              <div class=" form">
		                <form class="cmxform form-horizontal style-form" id="signupForm" th:object="${urole}" method="post" th:action="@{/admin/saveUrole}">
		                  <div class="form-group ">
		                    <label for="username" class="control-label col-lg-3">Utilisateur</label>
		                    <div class="col-lg-9">
		                      <select name="login" class="form-control">
			                    <option th:each="u:${users}" th:value="${u.login}" th:text="${u.nom}+'  ( '+${u.login}+' )'"></option>	                   
			                  </select>
		                    </div>
		                  </div>
		                  <div class="form-group ">
		                    <label for="username" class="control-label col-lg-3">Mesure</label>
		                    <div class="col-lg-9">
		                      <select name="role" class="form-control">
			                    <option th:each="r:${roles}" th:value="${r.role}" th:text="${r.role}"></option>	                   
			                  </select>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <div class="col-lg-offset-2 col-lg-10">
		                      <button class="btn btn-theme" type="submit">Enregistrer</button>
		                      <button class="btn btn-theme04" type="reset">Annuller</button>
		                    </div>
		                  </div>
		                </form>
		              </div>
		            
		            <!-- /form-panel -->
		          </div>
		          <!-- /col-lg-12 -->
		         
           </div>
        </div>
         <!-- List role -->
        <div class="col-md-6 col-sm-10 col-lg-6 mb">
          <!-- REVENUE PANEL -->
          <div class="panel">
             <div class="panel-header">
               <h1 style="text-align: center;">LISTE DES ROLES DES UTILISATEURS</h1>
             </div><hr>             
               <!-- Table - list role -->
	          <div class="content-panel">
	            <div style="margin: 5px;" class="adv-table">
	              <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
	                <thead>
	                  <tr>
	                  	<th>UTILISATEURS</th>
	                    <th>ROLES</th>
	                    <th>AUTRES</th>                    
	                  </tr>
	                </thead>
	                <tbody>
	                  <tr class="gradeX" th:each="u:${uroles}">
	                    <td th:text="${u.login.nom}"></td>
	                    <td th:text="${u.role.role}"></td>
	                   <td>  
	                     <a onclick="return confirm('Would you like to remove this?')" th:href="@{/admin/deleteUrole(id=${u.id})}"><button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button></a>
	                    </td>
	                  </tr>                  
	                </tbody>
	              </table>
	            </div>
	          </div>
		    </div> 	
         </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div th:replace="footer"></div>
    </footer>
    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script type="text/javascript" language="javascript" th:src="@{/lib/advanced-datatable/js/jquery.js}"></script>
  <script src="@{/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
  <script th:src="@{/lib/jquery.scrollTo.min.js}"></script>
  <script th:src="@{/lib/jquery.nicescroll.js}" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" th:src="@{/lib/advanced-datatable/js/jquery.dataTables.js}"></script>
  <script type="text/javascript" th:src="@{/lib/advanced-datatable/js/DT_bootstrap.js}"></script>
  <!--common script for all pages-->
  <script th:src="@{/lib/common-scripts.js}"></script>
  <!--script for this page-->
  <script type="text/javascript">
    /* Formating function for row details */
    function fnFormatDetails(oTable, nTr) {
      var aData = oTable.fnGetData(nTr);
      var sOut = aData[5];
   
      return sOut;
    }

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="static/lib/advanced-datatable/images/details_open.png">';
      nCloneTd.className = "center";

      $('#hidden-table-info thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[0]);
      });

      $('#hidden-table-info tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
      });

      /*
       * Initialse DataTables, with no sorting on the 'details' column
       */
      var oTable = $('#hidden-table-info').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [1, 'asc']
        ]
      });

      /* Add event listener for opening and closing details
       * Note that the indicator for showing which row is open is not controlled by DataTables,
       * rather it is done here
       */
      $('#hidden-table-info tbody td img').live('click', function() {
        var nTr = $(this).parents('tr')[0];
        if (oTable.fnIsOpen(nTr)) {
          /* This row is already open - close it */
          this.src = "lib/advanced-datatable/media/images/details_open.png";
          oTable.fnClose(nTr);
        } else {
          /* Open this row */
          this.src = "lib/advanced-datatable/images/details_close.png";
          oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
        }
      });
    });
  </script>
</body>

</html>
